.timer-on {
    background: rgb(202, 224, 231);
    border: solid 0.2rem lightskyblue;
    transition: all 1s ease-out;
}

.timer-off {
    background: rgb(207, 207, 207);
    border: solid 0.2rem lightslategray;
    transition: all 1s ease-out;
}
.timer-edit {
    background: rgb(255, 227, 176);
    border: solid 0.2rem rgb(235, 188, 87);
    transition: all 1s ease-out;
}
.btn-warning {
    background: rgb(235, 188, 87);
}

.timerNameInput {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
    width:100%;
}

